.primary-color {
    color: #F27229;
}

.primary-btn {
    background-color: #F27229;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    border: 0px;
}