#navbar-container {
    display: flex;
    border: 1px solid red;
    height: 50px;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#icons-navItems-container {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#button-container{
    display:  flex;
    flex-grow: 1;
    justify-content: end;
}

#button-container > div >button {
    padding-left: 29px;
    padding-right: 30px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 25px;
    margin-left: 10px;
    
}

#nav-items> ul {
    display: flex;
    gap: 40px;
    list-style: none;
}